.contact-form-container {
  width: 80%;
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f8f8f8;
  color: #000;
  font-family: "Helvetica Neue", sans-serif;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.contact-form-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.contact-form-container form {
  display: flex;
  flex-direction: column;
}

.contact-form-container input,
.contact-form-container textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: "Helvetica Neue", sans-serif;
}

.contact-form-container textarea {
  resize: vertical;
  min-height: 150px;
}

.contact-form-container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-family: "Helvetica Neue", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.contact-form-container button:hover {
  background-color: #0056b3;
}
