body {
  margin: 0;
  padding: 0;
  background-color: #0c0c0c;
  font-family: "Courier New", monospace;
  color: #00ff00;
}

.navbar {
  display: flex;
  justify-content: center; 
  align-items: center; 
  position: fixed; 
  top: 0; 
  left: 0; 
  right: 0; 
  height: 60px; 
  width: 100%;
  z-index: 100; 
  background-color: #000; 
}

.navbar-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row; /* Ensure horizontal display */
  align-items: center; /* Center items horizontally */
}

li {
  margin: 10px;
}

.link-item {
  text-decoration: none;
  color: #00ff00;
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 8px;
  background-color: #000;
  transition: background-color 0.2s, color 0.2s;
  cursor: pointer;
}

.link-item:hover {
  background-color: #00ff00;
  color: #000;
}

@media screen and (max-width: 600px) {
  .navbar {
    justify-content: center;
    position: static;
    height: auto;
  }
  
  .navbar-list {
    flex-direction: column;
    align-items: center;
  }
  
  .navbar-list li {
    margin: 5px; /* Adjusted margin for mobile */
  }
  
  .navbar-list li:not(:last-child) {
    margin-bottom: 10px; /* Add margin between list items on mobile */
  }
}
